<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--    Setter injection with primitive and String values -->
    <bean id="studentOne" class="dasturlash.uz.Student">
        <property name="name" value="Alish"/>
        <property name="surname" value="Aliyev"/>
        <property name="age" value="22"/>
        <property name="nickName" value="dasturlashUz"/>
    </bean>

    <bean id="studentOne" class="dasturlash.uz.Student">
        <property name="name" value="Alish"/>
        <property name="surname" value="Aliyev"/>
        <property name="age" value="22"/>
        <property name="nickName">
            <value>dasturlashUz</value>
        </property>
    </bean>
</beans>